/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.slide{
  list-style-type: none;
  width: 100%;
  overflow-x: auto;
  height: auto;
}
ul.slide li {
  width: 25%;
  margin-right: 2%;
  height: 300px;
  display: inline;
}

ul.slide li img {
  width: 100%;
  display: block;
  height: 200px;
}
